body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

header {
    background: gray;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 2em;
    line-height: 1.2;
}

footer {
    background: gray;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

section {
    margin: 10px;
}

article {
    border: 2px dotted gray;
    margin: 10px;
    padding: 10px;
}

p {
    margin: 10px;
}

h1 {
    color: red;
    text-align: center;
    font-size: 2em;
    font-variant-caps: small-caps;
}

h2 {
    background: red;
    background: linear-gradient(
            to right,
            black 0,
            black 50px,
            #FF0000 50px,
            #FF0000 100%
    );
    color: black;
    padding: 10px 10px 10px 60px;
    text-transform: capitalize;
}


#info {
    width: 600px;
    background: #A52A2A;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    padding: 10px;
    margin: auto;
}

p.documentation {
    background: green;
    color: white;
    padding: 10px;
}

p.documentation a {
    text-decoration: none;
    background: darkgreen;
    color: yellowgreen;
    padding: 5px;
}

p.documentation a:hover {
    background: lightgreen;
    color: darkgreen;
}

.code {
    font-family: Courrier;
    background: lightgray;
    border: 1px solid dimgray;
    border-radius: 5px;
}

pre.code {
    padding: 10px;
}

table {
    margin: auto;
    width: 100%;
    line-height: 2em;
}

th {
    background: #00008B;
    color: white;
    height: 3em;
}

table tr:nth-child(even) {
    background: #ADD8E6;
}

td, th {
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
}

table tr:last-child {
    color: #093ba6;
}